USE [Gestión para Sala de Lectura]
GO
/****** Object:  Table [dbo].[BajaLibros]    Script Date: 13/05/2026 08:22:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BajaLibros](
	[Baja_ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Motivo] [varchar](100) NOT NULL,
	[Libros_ID] [int] NOT NULL,
	[Bibliotecario_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Baja_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bibliotecario]    Script Date: 13/05/2026 08:22:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bibliotecario](
	[Bibliotecario_ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Usuario_Login] [varchar](20) NOT NULL,
	[Contraseña] [varchar](20) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Rol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Bibliotecario_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 13/05/2026 08:22:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[Libros_ID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Autor] [varchar](50) NOT NULL,
	[Editorial] [varchar](50) NULL,
	[Fecha_Publicacion] [date] NULL,
	[ISBN] [varchar](13) NULL,
	[Estado_Fisico] [varchar](20) NULL,
	[Estatus_Operativo] [varchar](50) NULL,
	[Contador_Prestamo] [int] NULL,
	[Bibliotecario_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Libros_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penalizacion]    Script Date: 13/05/2026 08:22:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalizacion](
	[Penalizacion_ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Generada] [datetime] NULL,
	[Monto] [money] NOT NULL,
	[Pagado] [bit] NULL,
	[Prestamo_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Penalizacion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 13/05/2026 08:22:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[Prestamo_ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Salida] [datetime] NULL,
	[Fecha_Limite] [datetime] NOT NULL,
	[Fecha_Devolucion] [datetime] NULL,
	[Penalizacion_Generada] [money] NULL,
	[Estatus] [varchar](30) NULL,
	[Usuario_ID] [int] NOT NULL,
	[Libros_ID] [int] NOT NULL,
	[Bibliotecario_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Prestamo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 13/05/2026 08:22:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[Reporte_ID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Nombre_Miembro] [varchar](50) NULL,
	[Libros_ID] [int] NULL,
	[Prestamo_ID] [int] NULL,
	[Baja_ID] [int] NULL,
	[Penalizacion_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Reporte_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/05/2026 08:22:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Usuario_ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Direccion] [varchar](150) NOT NULL,
	[Telefono] [varchar](10) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Adeudo_Pendiente] [money] NULL,
	[Prestamos_Activos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BajaLibros] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ('DISPONIBLE') FOR [Estatus_Operativo]
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((0)) FOR [Contador_Prestamo]
GO
ALTER TABLE [dbo].[Penalizacion] ADD  DEFAULT (getdate()) FOR [Fecha_Generada]
GO
ALTER TABLE [dbo].[Penalizacion] ADD  DEFAULT ((0)) FOR [Pagado]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT (getdate()) FOR [Fecha_Salida]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ((0)) FOR [Penalizacion_Generada]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ('ACTIVO') FOR [Estatus]
GO
ALTER TABLE [dbo].[Reporte] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Adeudo_Pendiente]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [Prestamos_Activos]
GO
ALTER TABLE [dbo].[BajaLibros]  WITH CHECK ADD FOREIGN KEY([Bibliotecario_ID])
REFERENCES [dbo].[Bibliotecario] ([Bibliotecario_ID])
GO
ALTER TABLE [dbo].[BajaLibros]  WITH CHECK ADD FOREIGN KEY([Libros_ID])
REFERENCES [dbo].[Libros] ([Libros_ID])
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD FOREIGN KEY([Bibliotecario_ID])
REFERENCES [dbo].[Bibliotecario] ([Bibliotecario_ID])
GO
ALTER TABLE [dbo].[Penalizacion]  WITH CHECK ADD FOREIGN KEY([Prestamo_ID])
REFERENCES [dbo].[Prestamos] ([Prestamo_ID])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([Bibliotecario_ID])
REFERENCES [dbo].[Bibliotecario] ([Bibliotecario_ID])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([Libros_ID])
REFERENCES [dbo].[Libros] ([Libros_ID])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([Usuario_ID])
REFERENCES [dbo].[Usuarios] ([Usuario_ID])
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD FOREIGN KEY([Baja_ID])
REFERENCES [dbo].[BajaLibros] ([Baja_ID])
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD FOREIGN KEY([Libros_ID])
REFERENCES [dbo].[Libros] ([Libros_ID])
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD FOREIGN KEY([Penalizacion_ID])
REFERENCES [dbo].[Penalizacion] ([Penalizacion_ID])
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD FOREIGN KEY([Prestamo_ID])
REFERENCES [dbo].[Prestamos] ([Prestamo_ID])
GO
